/* 스프린트 미션 2 */

/* 로그인 */
/* 전체 화면 */
.login-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 6rem 2rem;
  justify-content: center;
  align-items: center;

  background: #fcfcfc;
}

/* 가운데 정렬 */
.login-box {
  display: flex;
  width: 64rem;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.logo-box {
  width: 39.6rem;
  height: 13.2rem;
}

.login-logo {
  width: 39.6rem;
  height: 13.2rem;
}

/* 이메일 창 전체 */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  width: 100%;
}

/* 이메일, 비밀번호 글자 */
.input-label {
  color: var(--Secondary-800, #1f2937);

  /* pretendard/2lg-18px-bold */
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem; /* 144.444% */
}

/* 회색 입력창 포커스가 없을 때(기본 상태) */
.input-field {
  display: flex;
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 2.4rem;
  align-items: center;
  gap: 1rem;

  border-radius: 1.2rem;
  background: var(--Cool-Gray-100, #f3f4f6);
  border: none;
}

.input-field:focus {
  outline: none;
  border: 0.1rem solid var(--brand-blue, #3692FF);
}

/* 이메일을 입력해주세요 문구 */
.input-field::placeholder {
  color: var(--Secondary-400, #9ca3af);

  /* pretendard/lg-16px-regular */
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem; /* 162.5% */
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-img {
  position: absolute;
  right: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 1.8rem;
}

.login-button-box {
  display: flex;
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 12.4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border-radius: 4rem;
  background: var(--Secondary-400, #9ca3af);
}

.login-btn {
  color: var(--Cool-Gray-100, #f3f4f6);
  text-align: center;

  /* pretendard/xl-20px-semibold */
  font-family: Pretendard;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem; /* 160% */
}

/* 간편 로그인 */

.social-login-box {
  display: flex;
  width: 64rem;
  height: 100%;
  padding: 1.6rem 2.3rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  border-radius: 0.8rem;
  background: #e6f2ff;
}

/* 간편 로그인 텍스트 */
.social-login-title {
  color: var(--Secondary-800, #1f2937);

  /* pretendard/lg-16px-medium */
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem; /* 162.5% */

  width: 10.1rem;
  height: 2.9rem;
}

/* 이미지 그룹 */
.social-button-group {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}

.btn-social {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}

.btn-social img {
  width: 4.2rem;
  height: 4.2rem;
}

.register-link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  color: var(--Secondary-800, #1f2937);

  /* pretendard/md-14px-medium */
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem; /* 171.429% */
}

.register-link {
  color: var(--Primary-100, #3692ff);
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}